body {
    margin: 20px;
}

.sun-img {
    background-color: gray;
}

.sun-img {
    height: 64px;
    width: 64px;
    /* position: relative; */

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}