body {
    margin: 20px;
}

/*아바타 컨포넌트*/
.avater {
    /*영역이 잘 선택되었는지 확인하는 방법.배경 또는 박스 상자.*/
    background-color: #ffc;
    box-shadow: 0 0 0 1px red;

    image {
        width: 64px;
        height: 64px;
    }
}